<section class="container">
    <div class="header">
        <a [routerLink]="'/blog'">
            <img src="../../../../../assets/blog/valorant-logo-play-svgrepo-com.svg" alt="Home">
        </a>
    
        <div class="header__div">
            <a [routerLink]="'../'">Inicio</a>
            <a target="_blank" href="https://playvalorant.com/pt-br">Pagina oficial</a>
        </div>
    
        <a class="header__button" target="_blank" href="https://valorant-api.com/">Conhecer API</a>
    </div>
</section>