div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    padding: 0 10vw;
    background-color: #e0fcff;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.28;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
}

p {
    font-size: 14px;
}

img {
    width: 25vw;
}

.texts {
    line-height: 1.43;
    width: 40vw;
}