<div [ngStyle]="{'flex-direction': reverse, 'background-color': bgColor}">
    <section class="texts">
        <h1>
            <ng-content select="h1"></ng-content>
        </h1>
        <h2>
            <ng-content select="h2"></ng-content>
        </h2>
        <p>
            <ng-content select="p"></ng-content>
        </p>
    </section>

    <a *ngIf="linkExterno == true" target="_blank" href="{{urlLink}}">
        <img [src]="urlImagem" alt="">
    </a>

    <a *ngIf="linkExterno == false" [routerLink]="urlLink">
        <img [src]="urlImagem" alt="">
    </a>
</div>