<section class="bigCard">
    <div class="bigCard__content">
        <h1 class="bigCard__content__title">
            <ng-content select="[bigCard__content__title]"></ng-content>
        </h1>
        <p class="bigCard__content__desc">
            <ng-content select="[bigCard__content__desc]"></ng-content>
        </p>
    </div>
    <a class="bigCard__decorator" target="_blank"
        href="https://playvalorant.com/pt-br/news/?gad=1&gclid=CjwKCAjwvrOpBhBdEiwAR58-3D4NPWAYXCZslS5VHVbG0eauqKKZRP54xVx9MWZtUNGLytU5yvzivxoCg9oQAvD_BwE&gclsrc=aw.ds">
        <img class="bigCard__decorator__img" src="../../../../../assets/blog/news/torneio.webp" alt="">
    </a>
</section>