<app-header></app-header>
<app-card-text id="sobre" [urlImagem]="'../assets/Logo Bootcamp.webp'">
    <h1>Santander Bootcamp 2023</h1>
    <h2>Fullstack Java e Angular</h2>
    <p>O Santander Bootcamp 2023 é um programa de treinamento projetado para impulsionar as habilidades e o conhecimento de desenvolvedores. Neste bootcamp, os participantes terão a oportunidade de mergulhar profundamente no mundo do desenvolvimento Fullstack, explorando as tecnologias Java e Angular, dois pilares essenciais no cenário de desenvolvimento de software.</p>
</app-card-text>

<h1 id="habilidades">Habilidades desenvolvidas</h1>

<app-skills>
    <app-skill-box [urlImg]="'../assets/habilidades/spring.svg'" [BGColor]="'#dbf7db'">
        <h2>Spring Boot</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'../assets/habilidades/angular.svg'" [BGColor]="'#ffb2b5'">
        <h2>Angular</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'../assets/habilidades/typescript.svg'" [BGColor]="'#b2dbf7'">
        <h2>TypeScript</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'../assets/habilidades/java.svg'" [BGColor]="'#e8fcf8'">
        <h2>Java</h2>
    </app-skill-box>
</app-skills>

<app-skills>
    <app-skill-box [urlImg]="'../assets/habilidades/spring.svg'" [BGColor]="'#dbf7db'">
        <h2>Spring Boot</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'../assets/habilidades/angular.svg'" [BGColor]="'#ffb2b5'">
        <h2>Angular</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'../assets/habilidades/typescript.svg'" [BGColor]="'#b2dbf7'">
        <h2>TypeScript</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'../assets/habilidades/java.svg'" [BGColor]="'#e8fcf8'">
        <h2>Java</h2>
    </app-skill-box>
</app-skills>

<app-card-text id="sobre" [urlImagem]="'../assets/Logo Bootcamp.webp'">
    <h1>Santander Bootcamp 2023</h1>
    <h2>Fullstack Java e Angular</h2>
    <p>O Santander Bootcamp 2023 é um programa de treinamento projetado para impulsionar as habilidades e o conhecimento de desenvolvedores. Neste bootcamp, os participantes terão a oportunidade de mergulhar profundamente no mundo do desenvolvimento Fullstack, explorando as tecnologias Java e Angular, dois pilares essenciais no cenário de desenvolvimento de software.</p>
</app-card-text>