<app-header></app-header>
<app-card-text id="sobre" [reverse]="'row'" [linkExterno]="true" [urlLink]="'https://github.com/DiogoVilela12/santander-BootCamp'" [urlImagem]="'assets/card-logos/Logo Bootcamp.webp'">
    <h1>Santander Bootcamp 2023</h1>
    <h2>Fullstack Java e Angular</h2>
    <p>O Santander Bootcamp 2023 é um programa de treinamento projetado para impulsionar as habilidades e o conhecimento de desenvolvedores. Neste bootcamp, os participantes terão a oportunidade de mergulhar profundamente no mundo do desenvolvimento Fullstack, explorando as tecnologias Java e Angular.</p>
</app-card-text>

<h1 id="habilidades">Habilidades desenvolvidas</h1>

<app-skills>
    <app-skill-box [urlImg]="'assets/habilidades/javascript.svg'" [BGColor]="'#f7eb94'">
        <h2>Java Script</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'assets/habilidades/angular.svg'" [BGColor]="'#ffb2b5'">
        <h2>Angular</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'assets/habilidades/typescript.svg'" [BGColor]="'#b2dbf7'">
        <h2>TypeScript</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'assets/habilidades/git.svg'" [BGColor]="'#f9a195'">
        <h2>Git</h2>
    </app-skill-box>
</app-skills>

<app-skills>
    <app-skill-box [urlImg]="'assets/habilidades/GitHub.svg'" [BGColor]="'#a8a8a8'">
        <h2>GitHub</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'assets/habilidades/db.svg'" [BGColor]="'#9ec9d8'">
        <h2>Data Base</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'assets/habilidades/spring.svg'" [BGColor]="'#dbf7db'">
        <h2>Spring Boot</h2>
    </app-skill-box>
    <app-skill-box [urlImg]="'assets/habilidades/java.svg'" [BGColor]="'#e8fcf8'">
        <h2>Java</h2>
    </app-skill-box>
</app-skills>

<app-card-text id="projetos" [linkExterno]="true" [reverse]="'row-reverse'" [urlLink]="'https://github.com/DiogoVilela12/Contribuindo-em-um-Projeto-Open-Source-no-GitHub'" [urlImagem]="'assets/card-logos/Github.webp'">
    <h1>Contribuindo em um Projeto</h1>
    <h2> Open Source no GitHub</h2>
    <p>Ao contribuir, os desenvolvedores têm a oportunidade de colaborar com uma comunidade, compartilhar suas habilidades e conhecimentos, e ajudar a melhorar o projeto por meio de correções de bugs, implementação de recursos e aprimoramentos.</p>
</app-card-text>

<app-card-text [bgColor]="'#fff'" [reverse]="'row'" [urlLink]="'/poke'" [urlImagem]="'assets/card-logos/ng.webp'">
    <h1>Construindo uma Pokédex </h1>
    <h2>com TypeScript e Angular</h2>
    <p>Neste projeto, o desenvolvedor ira aplicar as ferramentas TypeScript e Angular para construir uma aplicação que permite explorar informações sobre Pokémon, como suas características, tipos e imagens.</p>
</app-card-text>

<app-card-text [linkExterno]="false" [reverse]="'row-reverse'" [urlLink]="'/blog'" [urlImagem]="'assets/card-logos/Blog.webp'">
    <h1>Criando um Blog</h1>
    <h2>com Angular</h2>
    <p>Os desenvolvedores aprenderam a configurar o ambiente de desenvolvimento Angular, criar componentes para gerenciar postagens, implementar recursos como comentários e categorias, e integrar APIs ou serviços para armazenar e recuperar dados do blog.</p>
</app-card-text>

<app-card-text [bgColor]="'#fff'" [reverse]="'row'" [linkExterno]="false" [urlLink]="'/PlayStationStore'" [urlImagem]="'assets/card-logos/PlayStationStore.webp'">
    <h1>Criando a PlayStation Store</h1>
    <h2>com Angular</h2>
    <p>Neste projeto, os participantes são desafiados a recriar a interface da PlayStation Store, uma plataforma de comércio eletrônico de jogos e conteúdo relacionado à PlayStation. </p>
</app-card-text>

<app-card-text [linkExterno]="true" [reverse]="'row-reverse'" [urlLink]="'https://github.com/DiogoVilela12/santander-BootCamp-Java'" [urlImagem]="'assets/card-logos/JavaCoffer.png'">
    <h1>Projetos desenvolvidos</h1>
    <h2>Em Java</h2>
    <p>Esses projetos abrangem uma variedade de áreas, desde sistemas de gerenciamento de banco de dados, aplicativos web e muito mais. Projetos desenvolvidos em Java são frequentemente valorizados por sua portabilidade, desempenho e segurança. </p>
</app-card-text>