<app-header></app-header>

<app-main-card [banner]="'../../../../../../assets/playStationStore/logo-spider-man.avif'"
    [imagem]="'../../../../../../assets/playStationStore/spider-man.avif'" [color]="'#C40606'">
    <h2>Marvel's Spider-Man 2</h2>
</app-main-card>

<app-game-cards [listaDeImagens]="[
'https://image.api.playstation.com/pr/bam-art/148/722/651dbb59-7d61-448c-ac74-512fb8d3d080.jpg?w=440&thumb=false',
'https://image.api.playstation.com/pr/bam-art/164/531/2d37a11a-bd40-4a2f-995a-4557571f1368.png?w=440&thumb=false',
'https://image.api.playstation.com/pr/bam-art/164/369/783d121d-34aa-4ea5-8711-33491d50df02.png?w=440&thumb=false',
'https://image.api.playstation.com/pr/bam-art/164/290/cae6009f-903e-44b0-be76-bf0980bfe27d.jpg?w=440&thumb=false',
'https://image.api.playstation.com/pr/bam-art/163/954/ac6634fd-f8a4-4f12-bdde-3109305375e4.jpg?w=440&thumb=false',
'https://image.api.playstation.com/pr/bam-art/164/555/d6c0532c-2962-49a2-89a0-6bad425b7b9a.jpg?w=440&thumb=false']">
    <h2>10 melhores jogos no seu país</h2>
</app-game-cards>

<app-game-cards [listaDeImagens]="[
'https://image.api.playstation.com/vulcan/ap/rnd/202309/2601/341f2c79372601fc3848a46e8f2c8d57d0f2b8592a4585ea.png?w=440&thumb=false',
'https://image.api.playstation.com/vulcan/ap/rnd/202308/2814/34446de571cfc937d70fc69915d852a77d4eaad0027f3584.png?w=440&thumb=false',
'https://image.api.playstation.com/vulcan/ap/rnd/202309/1313/9bd23c2292c99b6debcbd52a93ad18acb2399aaf091c7545.png?w=440&thumb=false'
]">
    <h2>Demonstrações</h2>
</app-game-cards>